.superContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    height: 100vh;
    background-color: #2b2b2b;
    /* border: 1px solid white; */
}

.cloudImage {
    position: relative;
    height: 500px;
    width: 500px;
    z-index: 10;
}

.rainDiv {
    margin-top: -200px;
}

.animContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 500px;
    width: 500px;
    margin-left: 200px;
    margin-top: 100px;

    border: 1px solid black;
}

.sun2 {
    height: 300px;
    width: 300px;
    background-color: yellow;
    border-radius: 300px;
    box-shadow: 0px 0px 20px yellow;

    animation: sunlight 3s infinite;
}

@keyframes sunlight {
    0% {
        box-shadow: 0px 0px 20px yellow;
    }

    50% {
        box-shadow: 0px 0px 50px yellow;
    }

    100% {
        box-shadow: 0px 0px 20px yellow;

    }
}


.planet {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border-radius: 200px;
    box-shadow: 0px 0px 20px lightblue;
    z-index: 5;

}

.rotatingPlanetContainer {
    display: flex;
    height: 500px;
    width: 500px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.rotatingPlanet {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;

    animation: planetRotation 4s linear infinite;
}

@keyframes planetRotation {
    0% {
        margin-top: 0;
        z-index: 6;
    }

    25% {
        margin-top: 300px;
        z-index: 6;
        margin-right: 250px;
    }

    26% {
        z-index: 4;
    }

    50% {
        z-index: 4;
        margin-top: 0;
        margin-right: 0;
    }

    75% {
        z-index: 4;
        margin-bottom: 300px;
        margin-left: 200px;
    }

    76% {
        z-index: 6;
    }

    100% {
        z-index: 6;
        margin-bottom: 0;
        margin-right: 0;
    }
}

.rotatingPlanet2 {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;

    animation: planetRotation2 3s linear infinite;
}

@keyframes planetRotation2 {
    0% {
        margin-top: 0;
        z-index: 6;
    }

    25% {
        margin-top: 300px;
        z-index: 6;
        margin-right: -250px;

    }

    26% {
        z-index: 4;
    }

    50% {
        z-index: 4;
        margin-top: 0;
        margin-right: 0;
    }

    75% {
        z-index: 4;
        margin-bottom: 300px;
        margin-left: -200px;
    }

    76% {
        z-index: 6;
    }

    100% {
        z-index: 6;
        margin-bottom: 0;
        margin-right: 0;
    }
}

.rotatingPlanet3 {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;

    animation: planetRotation3 2s linear infinite;
}

@keyframes planetRotation3 {
    0% {
        margin-top: 0;
        z-index: 6;
    }

    25% {
        margin-top: 350px;
        z-index: 6;

    }

    26% {
        z-index: 4;
    }

    50% {
        z-index: 4;
        margin-top: 0;
        margin-right: 0;
    }

    75% {
        z-index: 4;
        margin-bottom: 300px;
    }

    76% {
        z-index: 6;
    }

    100% {
        z-index: 6;
        margin-bottom: 0;
        margin-right: 0;
    }
}

.kog1 {
    position: absolute;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    transform: rotate(45deg);

    animation: animkog1 3s linear infinite;
}

@keyframes animkog1 {
    0% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(-375deg);
    }
}

.kog2 {
    position: absolute;
    height: 170px;
    width: 170px;
    margin-left: -50px;
    transform: rotate(45deg);

    animation: animkog2 3s linear infinite;
}

@keyframes animkog2 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.kog3 {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: -117px;
    margin-left: 80px;

    animation: animkog3 3s infinite linear;
}

@keyframes animkog3 {
    0% {
        transform: rotate(60deg);
    }

    100% {
        transform: rotate(375deg);
    }
}

.loadingAnimContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dot1 {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-bottom: 70px;
    border-radius: 50%;
    background-color: blue;

    animation: dot1Ani 8s infinite;
}

@keyframes dot1Ani {
    0% {
        height: 20px;
        width: 20px;
    }

    25% {
        height: 0px;
        width: 0px;
    }

    50% {
        height: 20px;
        width: 20px;
    }

    75% {
        height: 0px;
        width: 0px;
    }

    100% {
        height: 20px;
        width: 20px;
    }
}

.dot2 {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-bottom: -70px;
    border-radius: 50%;
    background-color: blue;

    animation: dot1Ani 8s infinite;
}

.centerLine {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: blue;
    border-radius: 10px;


    animation: centerLineAni2 4s infinite;
}

@keyframes centerLineAni {
    0% {
        width: 150px;
    }

    50% {
        width: 0px;
    }

    100% {
        width: 150px;
    }
}

@keyframes centerLineAni2 {
    0% {
        width: 100px;
    }

    25% {
        width: 0px;
        transform: rotate(0deg);
    }

    50% {
        width: 100px;
        transform: rotate(180deg);
    }

    75% {
        width: 0px;
        transform: rotate(180deg);
    }

    80% {
        transform: rotate(180deg);
    }

    100% {
        width: 100px;
        transform: rotate(360deg)
    }
}